@model TimeTableManagement.Models.ROOM_TBL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ROOM_TBL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DEPARTMENT_TBL.DEPARTMENT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTMENT_TBL.DEPARTMENT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROOM_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROOM_NO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ROOM_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
