@model TimeTableManagement.Models.SLOT_TBL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SLOT_TBL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SLOT_START_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLOT_START_TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLOT_END_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLOT_END_TIME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SLOT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
