@model TimeTableManagement.Models.COURSE_TBL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>COURSE_TBL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DEGREE_TBL.DEGREE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEGREE_TBL.DEGREE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COURSE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COURSE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREDIT_HOURS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREDIT_HOURS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COURSE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
