@model TimeTableManagement.Models.TIMETABLE_TBL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TIMETABLE_TBL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CLASS_TBL.SESSION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLASS_TBL.SESSION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COURSE_ASSIGN_TBL.COURSE_ASSIGN_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COURSE_ASSIGN_TBL.COURSE_ASSIGN_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROOM_TBL.ROOM_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROOM_TBL.ROOM_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLOT_TBL.SLOT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLOT_TBL.SLOT_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEACHER_TBL.TEACHER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEACHER_TBL.TEACHER_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TIMETABLE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
